{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Classement{% endblock %}

{% block body %}

{% if numeroPoule is defined %}
<h1>Poule {{numeroPoule}}</h1>

<ul class="nav nav-pills">
  {% for i in 1..nombrePoules %}
  <li><a href="{{ path('bloom_match_up_afficher_poule' , { 'numeroPoule' : i }) }}">Poule {{i}} </a></li>
  {% endfor %}
</ul>

<table class="table table-hover table-bordered">
    <tr>
      <td># Joueur</td>
{% for j in classementPoule%}
      <td><p class="text-center">{{loop.index}}</p></td> 
{% endfor %}
   </tr>

{% for j in classementPoule %}

  <tr>
    <td >{{loop.index}} {{ j.username }}</td>
    <td><p class="text-center">
      {% if loop.index0 == 0 %}
        X
      {% else %}
        {% for i in rencontresIdVainqueur %}
          {% if rencontresIdVainqueur[loop.index0]  == j.Id and rencontresIdPerdant[loop.index0] == joueursId.0 %}
            V
          {% elseif rencontresIdPerdant[loop.index0]  == j.Id and rencontresIdVainqueur[loop.index0] == joueursId.0 %}
            {{scorePerdant[loop.index0]}}
          {% endif %}
        {% endfor %}
      {% endif %}
    </p></td>

    <td><p class="text-center">
      {% if loop.index0 == 1 %}
        X
      {% else %}
        {% for i in rencontresIdVainqueur %}
          {% if rencontresIdVainqueur[loop.index0]  == j.Id and rencontresIdPerdant[loop.index0] == joueursId.1 %}
            V
          {% elseif rencontresIdPerdant[loop.index0]  == j.Id and rencontresIdVainqueur[loop.index0] == joueursId.1 %}
            {{scorePerdant[loop.index0]}}
          {% endif %}
        {% endfor %}
      {% endif %}
    </p></td>

    <td><p class="text-center">
      {% if loop.index0 == 2 %}
        X
      {% else %}
        {% for i in rencontresIdVainqueur %}
          {% if rencontresIdVainqueur[loop.index0]  == j.Id and rencontresIdPerdant[loop.index0] == joueursId.2 %}
            V
          {% elseif rencontresIdPerdant[loop.index0]  == j.Id and rencontresIdVainqueur[loop.index0] == joueursId.2 %}
            {{scorePerdant[loop.index0]}}
          {% endif %}
        {% endfor %}
      {% endif %}
    </p></td>

    <td><p class="text-center">
      {% if loop.index0 == 3 %}
        X
      {% else %}
        {% for i in rencontresIdVainqueur %}
          {% if rencontresIdVainqueur[loop.index0]  == j.Id and rencontresIdPerdant[loop.index0] == joueursId.3 %}
            V
          {% elseif rencontresIdPerdant[loop.index0]  == j.Id and rencontresIdVainqueur[loop.index0] == joueursId.3 %}
            {{scorePerdant[loop.index0]}}
          {% endif %}
        {% endfor %}
      {% endif %}
    </p></td>

    {% if classementPoule[4] is defined %}
      <td><p class="text-center">
        {% if loop.index0 == 4 %}
          X
        {% else %}
          {% for i in rencontresIdVainqueur %}
            {% if rencontresIdVainqueur[loop.index0]  == j.Id and rencontresIdPerdant[loop.index0] == joueursId.4 %}
              V
            {% elseif rencontresIdPerdant[loop.index0]  == j.Id and rencontresIdVainqueur[loop.index0] == joueursId.4 %}
              {{scorePerdant[loop.index0]}}
            {% endif %}
          {% endfor %}
        {% endif %}
      </p></td>
    {% endif %}

    {% if classementPoule[5] is defined %}
      <td><p class="text-center">
        {% if loop.index0 == 5 %}
          X
        {% else %}
          {% for i in rencontresIdVainqueur %}
            {% if rencontresIdVainqueur[loop.index0]  == j.Id and rencontresIdPerdant[loop.index0] == joueursId.5 %}
              V
            {% elseif rencontresIdPerdant[loop.index0]  == j.Id and rencontresIdVainqueur[loop.index0] == joueursId.5 %}
              {{scorePerdant[loop.index0]}}
            {% endif %}
          {% endfor %}
        {% endif %}
      </p></td>
    {% endif %} 

    {% if classementPoule[6] is defined %}
      <td><p class="text-center">
        {% if loop.index0 == 6 %}
          X
        {% else %}
          {% for i in rencontresIdVainqueur %}
            {% if rencontresIdVainqueur[loop.index0]  == j.Id and rencontresIdPerdant[loop.index0] == joueursId.6 %}
              V
            {% elseif rencontresIdPerdant[loop.index0]  == j.Id and rencontresIdVainqueur[loop.index0] == joueursId.6 %}
              {{scorePerdant[loop.index0]}}
            {% endif %}
          {% endfor %}
        {% endif %}
      </p></td>
    {% endif %}

    {% if classementPoule[7] is defined %}
      <td><p class="text-center">
        {% if loop.index0 == 7 %}
          X
        {% else %}
          {% for i in rencontresIdVainqueur %}
            {% if rencontresIdVainqueur[loop.index0]  == j.Id and rencontresIdPerdant[loop.index0] == joueursId.7 %}
              V
            {% elseif rencontresIdPerdant[loop.index0]  == j.Id and rencontresIdVainqueur[loop.index0] == joueursId.7 %}
              {{scorePerdant[loop.index0]}}
            {% endif %}
          {% endfor %}
        {% endif %}
      </p></td>
    {% endif %}

    {% if classementPoule[8] is defined %}
      <td><p class="text-center">
        {% if loop.index0 == 8 %}
          X
        {% else %}
          {% for i in rencontresIdVainqueur %}
            {% if rencontresIdVainqueur[loop.index0]  == j.Id and rencontresIdPerdant[loop.index0] == joueursId.8 %}
              V
            {% elseif rencontresIdPerdant[loop.index0]  == j.Id and rencontresIdVainqueur[loop.index0] == joueursId.8 %}
              {{scorePerdant[loop.index0]}}
            {% endif %}
          {% endfor %}
        {% endif %}
      </p></td>
    {% endif %}
  </tr>

{% endfor %}
</table>

  <a href="{{ path('bloom_match_up_entrer_resultat') }}" class="btn btn-primary margin-top-10">Entrer un résultat</a>

{% else %}
  <p> Aucune poule n'est encore lancée.</p>  

{% endif %}

{% endblock %}