
{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Entrer Résultat{% endblock %}

{% block body %}
	<h1>Entrer un résultat</h1>

{% if form is defined %}

	{{ form_start(form) }}
    {{ form_errors(form) }}

	    <div class="input-block-level">
	        {{ form_label(form.user.username, 'Nom de l\'adversaire') }}
	        {{ form_errors(form.user.username) }}
	        {{ form_widget(form.user.username) }}
	    </div>

	    <div class="input-block-level">
	        {{ form_label(form.idVainqueur, 'Vainqueur') }}
	        {{ form_errors(form.idVainqueur) }}
	        {{ form_widget(form.idVainqueur) }}
	    </div>

	    <div class="input-block-level">
	        {{ form_label(form.scorePerdant, 'Score du perdant') }}
	        {{ form_errors(form.scorePerdant) }}
	        {{ form_widget(form.scorePerdant) }}
	    </div>

	<input type="submit" class="btn btn-primary" />
	<a href="{{ path('bloom_match_up_afficher_poule') }}" class="btn margin-left-15">Annuler</a>

	{{ form_end(form) }}

{% else %}
	<p>Vous n'êtes inscrit dans aucune poule. Merci de vérifier dans votre page profil que l'option "je participe à la prochaine poule" est validée.</p>

{% endif %}

{% endblock %}