
{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Homepage{% endblock %}

{% block body %}
	<h1>Page d'accueil</h1>

	<table class="table table-hover">
		<tr>
			<td>Joueur</td>
			<td><p class="text-center">Poule</p></td> 
			<td><p class="text-center">Victoires</p></td>
			<td><p class="text-center">Sets</p></td>
		</tr>	
		<tr> 
				<td> </td><td> </td><td> </td><td> </td>
		</tr>
		{% for poule in classementParPoules %}
			{% for joueur in poule %}
				<tr>
					<td>{{joueur.username}}</td>
					<td><p class="text-center">{{joueur.poule}}</p></td> 
					<td><p class="text-center">{{joueur.victoires}}</p></td>
					<td><p class="text-center">{{joueur.sets}}</p></td>
				</tr>
			{% endfor %}
			<tr> 
				<td> </td><td> </td><td> </td><td> </td>
			</tr>

		{% endfor %}
	</table>




{% endblock %}