{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - MatchUp{% endblock %}

{% block body %}
<h1>MatchUp</h1>

{% if joueursPasses is defined%}

    {% for j in joueursPasses %}
      <div class="thumbnail rrow">
  	   <img src="{{ asset('img/profile/' ~ j.path) }}" alt="" class="span3">
       <div class="offset3">
        <h4>{{ j.username }}</h4>
        <p>Lundi : {{j.lundi}}</p>
        <p>Mardi : {{j.mardi}}</p>
        <p>Mercredi : {{j.mercredi}}</p>
        <p>Jeudi : {{j.jeudi}}</p>
        <p>Vendredi : {{j.vendredi}}</p>
        <p>Samedi : {{j.samedi}}</p>
        <a href="{{ path('bloom_match_up_profil' , { 'idAdversaire' : j.id }) }}" class="btn btn-primary">Rencontrer</a>
      </div>
      </div>
    {% endfor %}

{% else %}
  <p>Vous n'êtes inscrit dans aucune poule.</p>
  <p>Pour vous inscrire à la prochaine, vérifiez dans les paramètres de votre profil que l'option "participation à la prochaine poule" est validée.</p>

{% endif %}

{% endblock %}