
{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Homepage{% endblock %}

{% block body %}
	<h1>Page d'administration</h1>

<a href="{{ path('fos_user_registration_register') }}" class="btn span3 margin-top-10">Ajouter un joueur</a>
<a href="{{ path('bloom_match_up_admin_supprimer_profil') }}" class="btn span3 margin-top-10">Supprimer un joueur</a>

<a href="{{ path('bloom_match_up_admin_modifier_profil') }}" class="btn span3 margin-top-10">Modifier le profil d'un joueur</a>

<a href="{{ path('bloom_match_up_admin_selectionner_profil') }}" class="btn span3 margin-top-10">Modifier les résultats d'un joueur</a>

<a href="{{ path('bloom_match_up_admin_generer_poule') }}" class="btn span3 margin-top-10">Génerer les nouvelles Poules</a>

{% endblock %}