
{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Homepage{% endblock %}

{% block body %}
	<h1>Supprimer un Profil</h1>

{% if form is defined %}

	{{ form_start(form) }}
    {{ form_errors(form) }}

	    <div class="input-block-level">
	        {{ form_label(form.user.username, 'Nom du profil') }}
	        {{ form_errors(form.user.username) }}
	        {{ form_widget(form.user.username) }}
	    </div>

	    <div class="input-block-level">
	        {{ form_label(form.poule, 'Poule') }}
	        {{ form_errors(form.poule) }}
	        {{ form_widget(form.poule) }}
	    </div>	   

	    <div class="input-block-level">
	        {{ form_label(form.victoires, 'Victoires') }}
	        {{ form_errors(form.victoires) }}
	        {{ form_widget(form.victoires) }}
	    </div>		

	    <div class="input-block-level">
	        {{ form_label(form.sets, 'Sets') }}
	        {{ form_errors(form.sets) }}
	        {{ form_widget(form.sets) }}
	    </div>		         

	<input type="submit" class="btn btn-primary" />
	<a href="{{ path('bloom_match_up_admin') }}" class="btn margin-left-15">Annuler</a>

	{{ form_end(form) }}

{% else %}

<p>Le profil a été modifié</p>

{% endif %}

{% endblock %}