{% trans_default_domain 'BloomUserBundle' %}

<div class="fos_user_user_show">
	<div class="row">
		<div class="span3 text-center">
        {% if user.imageName %}<img src="{{ vich_uploader_asset(user, 'imageFile') }}" alt="imagename" class="span3"/>
        {% else %}<img src="{{ asset('img/profile/ann.png') }}" alt="else" class="span3" />
        {% endif %}
			<a href="{{ path('fos_user_profile_edit') }}" class="btn margin-top-10 margin-left-30">Modifier mon profil</a>
			<img src="{{ asset('img/login.jpg') | imagine_filter('my_thumb_in') }}" />

		</div>
		<div class="span8 offset1">
			<p><em>Profil</em></p>			
			<div class="span2">
				<p>Nom d'utilisateur :</p>
	    		<p>Age :</p>  		
	    		<p>Téléphone :</p>    				
	    		<p>Email :</p>
	    		<p>Je participe à la prochaine poule :</p>
	    	</div>


	    	<div class="span5">
	    		<p>{{ user.username }}</p>
	    		<p>{% if user.age %}{{ user.age }} ans{% else %}non renseigné{% endif %}</p>   		
	    		<p>{% if user.tel %}{{ user.tel }}{% else %}non renseigné{% endif %}</p>
	    		<p>{{ user.email }}</p>
	    		<p></br>{% if user.participation %}oui{% else %}non{% endif %}</p>
	    	</div>

    		<p><em>Disponibilités</em></p>
			<div class="span2">
				<p>Lundi :</p>
				<p>Mardi :</p>
				<p>Mercredi :</p>    		
				<p>Jeudi :</p>    				
				<p>Vendredi :</p>
				<p>Samedi :</p>
			</div>


			<div class="span5">
				<p>{{ user.lundi }}</p>
				<p>{{ user.mardi }}</p>
				<p>{{ user.mercredi }}</p>    		
				<p>{{ user.jeudi }}</p>
				<p>{{ user.vendredi }}</p>
				<p>{{ user.samedi }}</p>
			</div>
    	</div>
	</div>
</div>
